REVENUECAT_IOS_API_KEY=appl_xxxxxx
REVENUECAT_ANDROID_API_KEY=goog_xxxxxx
ADMOB_IOS_APP_ID=ca-app-pub-xxx~xxx
ADMOB_ANDROID_APP_ID=ca-app-pub-xxx~xxx
ADMOB_BANNER_UNIT_ID=ca-app-pub-xxx/xxx
ADMOB_REWARDED_UNIT_ID=ca-app-pub-xxx/xxx
GOOGLE_WEB_CLIENT_ID=xxx.apps.googleusercontent.com
API_BASE_URL=http://localhost:8000
